body{

  background-color: darkslategrey;
  
  }

  
  
    /* If you want the content centered horizontally and vertically */
    .n1 {
      position: relative;
      top: 190px;
     left: 750px;
      transform: translate(-50%, -50%);
      text-align: center;
     
    }
  
    /* Style the image inside the centered container, if needed */
    .n1 img {
      width: 250px;
      border-radius: 50%;
      text-align: center;
    }
  
  
      .n2{
  
      font-size: 50px;
  
      color: cyan;
      }
  
  
        .n3{
  
            font-size: 60px;
          
            color: red;
        }
  
  
  
  
            .n4{
  
            font-size: 40px;
            }
  
  
              .n5{
  
            font-size: 60px;
  
            color: red;
              }
  
                .n6{
  
              font-size: 40px;
  
                }
  
                  .n7{
  
                font-size: 60px;
  
                color: red;
                  }
  
                    .n8{
  
                  font-size: 40px;
                      
                    }

                    .n9{

                    width: 300px;
                    height: 200opx;


                    }
  
                    
                       
                     
  
                        