body{
  background-color: greenyellow;
  margin: auto;
  overflow-x: hidden;
}

/* If you want the content centered horizontally and vertically */
.n1 {
  top: -150px;
  text-align: center;
  position: relative;
}
 
/* Style the image inside the centered container, if needed */
.n1 img {
  width: 250px;
  border-radius: 50%;
  text-align: center;
}



.contenitore-img{
  height: 400px;
  margin-bottom: 15px;
  background-image: url("https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-thumbnail/s3/052011/my_life_fiat_punto_advertising_copy.png?itok=E9VhuTn1");
  background-repeat: no-repeat;
  background-size: cover;
  }
  
.n2{
  font-size: 50px;
  color: cyan;
}
  
  
.n3{
  font-size: 60px; 
  color: red;
}
   
.n4{
  font-size: 40px;
}

/* If you want the content centered horizontally and vertically */
.movimento{
  left: 50px;
  position: relative;
  margin-bottom: 100px;
}
 
/* Style the image inside the centered container, if needed */
.movimento img {
  width: 550px;
  
}



@media only screen and (max-width: 600px) {
  .movimento{
    left: 5px;
  }
}
  
 

               
  
                        